In [5]:
import sqlite3

conn = sqlite3.connect('./pokemon_name.db')
cursor = conn.cursor()

# Retrieve and print all rows in the table
cursor.execute("SELECT * FROM pokemon_name LIMIT 30;")
display(cursor.fetchall())

cursor.execute("SELECT name_tw FROM pokemon_name WHERE name_jp = 'ピカチュウ';")
res = cursor.fetchall()
display(res)

cursor.execute("SELECT name_jp FROM pokemon_name WHERE name_tw = '木木梟';")
res = cursor.fetchall()
display(res)

conn.close()

[(1, 1, 'フシギダネ', '妙蛙種子'),
 (2, 2, 'フシギソウ', '妙蛙草'),
 (3, 3, 'フシギバナ', '妙蛙花'),
 (4, 4, 'ヒトカゲ', '小火龍'),
 (5, 5, 'リザード', '火恐龍'),
 (6, 6, 'リザードン', '噴火龍'),
 (7, 7, 'ゼニガメ', '傑尼龜'),
 (8, 8, 'カメール', '卡咪龜'),
 (9, 9, 'カメックス', '水箭龜'),
 (10, 10, 'キャタピー', '綠毛蟲'),
 (11, 11, 'トランセル', '鐵甲蛹'),
 (12, 12, 'バタフリー', '巴大蝶'),
 (13, 13, 'ビードル', '獨角蟲'),
 (14, 14, 'コクーン', '鐵殼蛹'),
 (15, 15, 'スピアー', '大針蜂'),
 (16, 16, 'ポッポ', '波波'),
 (17, 17, 'ピジョン', '比比鳥'),
 (18, 18, 'ピジョット', '大比鳥'),
 (19, 19, 'コラッタ', '小拉達'),
 (20, 20, 'ラッタ', '拉達'),
 (21, 21, 'オニスズメ', '烈雀'),
 (22, 22, 'オニドリル', '大嘴雀'),
 (23, 23, 'アーボ', '阿柏蛇'),
 (24, 24, 'アーボック', '阿柏怪'),
 (25, 25, 'ピカチュウ', '皮卡丘'),
 (26, 26, 'ライチュウ', '雷丘'),
 (27, 27, 'サンド', '穿山鼠'),
 (28, 28, 'サンドパン', '穿山王'),
 (29, 29, 'ニドラン♀', '尼多蘭'),
 (30, 30, 'ニドリーナ', '尼多娜')]

[('皮卡丘',)]

[('モクロー',)]